[run]
source = src, data, scripts
branch = True
omit =
    src/bot/hooks/hook-pydantic.py
    tests/*

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    if TYPE_CHECKING:
    \.\.\.
    def __repr__
    @(abc\.)?abstractmethod
